footer {
    background-color: rgba(0, 0, 0, 0.800);
    color: rgb(161, 133, 8);
    font-family: 'Mukta', sans-serif;
    bottom: 0;
    width: 100%;
    margin: 0px;
    padding: 5px 5px;
    text-align: center;
}
