header {
    display: flex;
    padding: 5px;
    margin: 5px;
    text-align: center;
    height: auto;
   
    justify-content: space-between;

}

.logo {
    float: left;
    opacity: 0.5;
}

h1 {
    color: darkgoldenrod;
    text-align: end;
    padding-right: 20px;
    text-shadow:1px 1px rgb(0, 0, 0);
   text-rendering:optimizeLegibility;
}

h4{
    color: coral;
    text-align: end;
}