<div class="outer-loader">
    <div class="inner-loader-img">

        <!-- Slideshow container -->
        <div id="slider">

            <ul id="slideWrap">
                <li>
                    <span onclick="transitionToPage('http://localhost:4200/main')"> <img
                            src="https://media1.giphy.com/media/26xBsTS9WJ7THk4mI/giphy.gif?cid=ecf05e478f7fc9dffaa96e28f5c46c644f30073cea73e204&rid=giphy.gif&ct=g"
                            alt="" width=600px height=350px></span>
                </li>
                <li>
                    <span onclick="transitionToPage('http://localhost:4200/main')"><img
                            src="https://media3.giphy.com/media/ZE5jLCFAzlpgxXQqM5/giphy.gif?cid=ecf05e475552ip95l09mpfhklwf9upkyrzocpm8cmk0g05r9&rid=giphy.gif&ct=g"
                            alt="" width=600px height=350px></span>
                </li>
                <li>
                    <span onclick="transitionToPage('http://localhost:4200/main')"><img
                            src="https://c.tenor.com/GCKfd2ziDTUAAAAC/josh-allen-buffalo-bills.gif"
                            alt="" width=600px height=350px></span>
                </li>
                <li>
                    <span onclick="transitionToPage('http://localhost:4200/main')"><img
                            src="https://media2.giphy.com/media/vuG20VxGdnR5HpLKXT/giphy.gif?cid=ecf05e47esrkip3zubum7tpho28dk4l6h389x4m6r4mtcjaj&rid=giphy.gif&ct=g"
                            alt="" width=600px height=350px></span>
                </li>
            </ul>
            <a id="prev" href="#"></a>
            <a id="next" href="#"></a>

        </div>
        <div class="description">
            <h2> Click on to know them</h2>
        </div>
    </div>
</div>