

.outer-loader {
    width: auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-loader-img {
    text-align: center;
    background: url('https://loading.io/spinners/comets/lg.comet-spinner.gif') no-repeat center;
    background-size: contain;
 
   
}
img{
    border-radius: 10%;
    box-shadow: 8px 5px 5px  black;
}

.description{
    display: flex;
    text-align: center;
    margin-left: 100px;
    
}
h2{
    color: crimson;
    text-shadow: 2px 3px black;
}

#slider {
    position: relative;
    width: 600px;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    box-shadow: 8px 5px 5px  black;
  }

#slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 10ms ease;
    left: 0;
  }
  #slider ul li {
    position: relative;
    height: 100%;
  
    float: left;
  }

  #slider ul li img{
    width: 600px;
    height: 350px;
    cursor: pointer;
  }

  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transform: translateY(-50%);
    transition: all 150ms ease;
  }
  #slider #prev {
    left: 10px;
  }
  #slider #next {
    right: 10px;
  }
  
  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
  }

