.allCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 90%;
    cursor: pointer;
}

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}

.cards img {

    object-fit: cover;
    object-position: 50%;
    align-items: center;
    overflow: hidden;
}

.card1 {

    padding: 5px 5px 5px 5px;
    background-color: rgba(255, 0, 0, 0.50);
    box-shadow: #111;
    overflow: hidden;
}


.card2 {

    padding: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 255, 0.8);
    box-shadow: #111;
    overflow: hidden;
}

.card3 {

    padding: 5px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: #111;
    overflow: hidden;

}

.card4 {

    padding: 5px 5px 5px 5px;
    background-color: rgba(0, 128, 0, 0.50);
    box-shadow: #111;
    overflow: hidden;
}

.panel,
.flip {
    text-align: center;
}

/*.panel {
    display: none;
}*/

ul li {
    list-style: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-style: normal;
    font-weight: bold;
    padding-right: 40px;
    justify-content: space-around;
}

.toggle {
    width: 100%;
    height: 100px;
    background: rgba(247, 230, 4, 0.514);    
    border-radius: 5%;
    display: none;
}

p {
    margin-top: 10px;
}